<h1>Favourites</h1>
<h2>Tweets: </h2>
<% tweets.forEach(function(ele) { %>
    <p><%= ele.tweet %></p>
<% }) %>

<h2>Articles</h2>
<% articles.forEach(function(ele) { %>
    <p><%= ele.title %></p>
<% }) %>