<h1>Favourites</h1>
<h2>Tweets: </h2>
<% tweets.forEach(function(ele) { %>
    <p><%= ele.tweet %></p>
    <form action="/compcoll/favourites/delete" method="POST">
        <input type="hidden" value="<%= ele.tweet %>" name="deleteTweet">
        <input type="submit" value="Delete">
    </form>
    <hr>
<% }) %>

<h2>Articles</h2>
<% articles.forEach(function(ele) { %>
    <p><%= ele.title %></p>
    <form action="/compcoll/favourites/edit/<%= ele.id %>/?_method=PUT" method="POST">
        <input type="text" name="editEle" value="Discard">
        <input type="submit" value="Discard">
    </form>
<% }) %>