<h2>Home</h2>
<div>
    <a href="/auth/signup" style="color: black;">Signup</a>
    <a href="/auth/login" style="color: black;">Login</a>
    <a href="/auth/logout" style="color: black;">Logout</a>
    <a href="/profile" style="color: black;">Profile</a>
</div>
