<h1 class='homeTitle'>WELCOME TO TWITTER CHECKER</h1>
<h2>This app allows you to look at the article titles that are related to the tweeters tweet that you have looked for!</h2>
<h2>Once you have the titles to the articles you are encouraged to look up where the tweeter is getting their information</h2>
<h2>In the future there will be live links to the articls that have been located</h2>
<h2>for comments or nice additions email the author at: nicholas.m.shankland@gmail.com</h2>
<!-- <div>
    <a href="/auth/signup" style="color: black;">Signup</a>
    <a href="/auth/login" style="color: black;">Login</a>
    <a href="/auth/logout" style="color: black;">Logout</a>
    <a href="/profile" style="color: black;">Profile</a>
</div> -->
