<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Authentication</title>
    <!-- Latest compiled and minified CSS & JS -->
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <div class="container">
      <% include partials/alerts %>
        <a href="/">HOME |</a>
        <a href="/profile">PROFILE |</a>
      
      <%- body %>
    </div>
  </body>
</html>
