<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Authentication</title>
    <!-- Latest compiled and minified CSS & JS -->
    <link rel="stylesheet" href="../public/css/style">
  </head>
  <body>
    <div class="container">
      <h1>Authentication</h1>
      <% include partials/alerts %>
      
      <%- body %>
    </div>
  </body>
</html>
