<div>
    <h1>Who would you like to search for?</h1>
</div>
<div>
    <h3>Plesae type the exact twitter name</h3>
</div>

<form action="compcoll/displaytwitter" method="GET">
    <input type="text" name="inputtext" placeholder="Ex: realDonaldTrump">

    <input type="submit" value="Search">
</form>


