html {
    margin: 0;
    border: 0;
}

body {
    background-color: lightslategray;
}

nav {
    width: 97vw;
    font-family: 'Permanent Marker', cursive;
    background-image: url('navbar.jpg');
    background-size: auto;
    height: 10vh;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
    border: solid black 5px;
    margin: .3em;
    font-size: 1.6em;
}
/* 
.body {
    margin: .3em;
    display: flex;
    flex-flow: column;
    justify-content: center;
    width: 100vw;
    height: 90vh;
    background-image: url('searchimg.jpg');
    background-size: cover;
} */

a {
    text-decoration: none;
    color: white;
}

.submitform {
    width: 15em;
    height: 2.5em;
    background-color: green;
    border-radius: 10px;
    font-weight: bold;
}

#container {
    display: flex;
    flex-flow: column;
    align-items: center;
}

#containertwo {
    display: flex;
    flex-flow: column;
    justify-content: center;
}

h1 {
    align-content: center;
}
